/*-------------------------------------------------------------*/

/*         Project: Portfolio website - James Dev John         */

/*         Author: James Dev J (james.jdev@gmail.com)          */

/*         Initial version: May 2021                           */

/*-------------------------------------------------------------*/

:root {
    --background-color: #fff;
    --text-color: #000;
}

[data-theme="dark"] {
    --background-color: #1d1b1b;
    --text-color: #fff;
}

body {
    position: relative;
    overflow-x: hidden;
    /* background-color: #CFD8DC; */
    background-color: var(--background-color);
    color: var(--text-color);
}

.card {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

body, html {
    height: 100%;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}

/*-------------------------------*/

/*         Common Styles         */

/*-------------------------------*/

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-10 {
    padding: 10px
}

.padding-20 {
    padding: 20px
}

.padding-top-20 {
    padding-top: 20px;
}

.colorWhite {
    color: white;
}

.small-font {
    font-size: 12px;
}

a {
    font-size: inherit;
    text-decoration: none !important;
}

/*-------------------------------*/

/*           Wrappers            */

/*-------------------------------*/

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 50px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/

/*     Sidebar nav styles        */

/*-------------------------------*/

.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    transition: width .2s ease-in;
}

.sidebar-nav li:hover, .sidebar-nav li.open:hover {
    background-color: #3b9adb;
}

.sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
    width: 100%;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.sidebar-brand {
    height: auto;
    position: relative;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    padding: .75em;
}

.sidebar-brand a {
    color: #3b9adb !important;
}

.sidebar-brand a:hover {
    color: #3b9adb !important;
    text-decoration: none;
}

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background: #212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.dropdown-menu.show {
    top: 0;
}

/*-------------------------------*/

/*       Hamburger-Cross         */

/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    /* background: transparent; */
    border: none;
    color: var(--text-color) !important;
}

.hamburger:hover, .hamburger:focus, .hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: var(--text-color) !important;;
    line-height: 32px;
    text-align: center;
    opacity: 0;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: var(--text-color) !important;;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/

/*            Overlay            */

/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .8);
    z-index: 2;
}

.design-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
}

.effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.e-ball {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #3b9adb !important;
}

.e-chain {
    height: 3px;
    width: 25px;
    /* border-radius: 50%; */
    background-color: #3b9adb !important;
}

.e2 {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes example {
    0% {
        left: 0%;
        top: 0%;
    }
    25% {
        left: 50%;
        top: 0%;
    }
    50% {
        left: 90%;
        top: 0%;
    }
    75% {
        left: 50%;
        top: 0%;
    }
    100% {
        left: 0%;
        top: 0%;
    }
}

/* @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;} 
    100% {background-color:red; left:0px; top:0px;}
  } */

/*-------------------------------*/

/*            Others            */

/*-------------------------------*/

.img {
    border-radius: 50%;
    border: 2px solid #3b9adb;
    /* filter: grayscale(100%); */
    transition: transform .5s, filter 0.5s ease-in-out;
}

.img:hover {
    /* filter: grayscale(0); */
    transform: scale(1.1);
}

.bg-info-pill {
    background-color: #C5C6C7 !important;
}

.projectBox {
    padding-top: 15px;
}

.app-card {
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
}

.app-card-name {
    margin-top: 15px;
    color: black;
}

.app-card-image {
    height: 75px;
    width: auto;
    margin-top: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0);
}

.testimonial-box {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #C5C6C7;
    border-radius: 20px;
}

.testimony-content {
    padding: 10px;
}

.testimony-footer {
    padding-left: 10px;
}

.mb0 {
    margin-bottom: 0px !important;
}

.card {
    border: none !important;
}

.card-headline {
    color: #3b9adb !important;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-0 {
    padding-top: 0px !important;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    /* width: 240px;  */
    /* height: 240px;  */
    padding: 20px; 
    /* box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
  }
  
  #slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
  }

  /* .slide-cc {
      background-color: var(--background-color) !important;
  } */